extends ../layouts/layout

block content
    div(class="gallery")
        div(class="search-container")
            input(type="text" class="search-input" placeholder="artist, artwork, medium, category")
            select(class="search-select")
                option(value="artist") Artist
                option(value="name") Artwork Name
                option(value="medium") Medium
                option(value="category") Category
                option("value"= "year") Year
            i(class="fa-solid fa-magnifying-glass search-icon" onclick="search()")
        script(src="/js/search-script.js")
        include ../partials/gallery
    