extends ../layouts/layout

block content
    div#register
        h1 Register
        if errorMessage
            p#Error= errorMessage
        form(action="/register" method="post")
            include ../partials/form
            div#cancelRegister
                a#cancelBtn(href="/") Cancel
                input#registerBtn(type="submit" value="Register")
            