extends ../layouts/layout

block content
    div(id="loginContainer" class="container")
        div(id="registerCardContent" class="card-content")
            if errorMessage
                    p#Error= errorMessage
            div(id="registerCardTitle" class="card-title")    
                h1 register
            
            form(action="/register" method="post")
                div(class="account-info" id="register-info")
                    include ../partials/form
                div(class="btn-container" id="register")
                    input(class="accountBtn" id="registerBtn" type="submit" value="Register")