div(class="text-input" id="username-div")
    input#username(type="text" name="username" value=user.username placeholder="Username")
div(class="text-input" id="password-div")
    input#password(type="password" name="password" value= user.password placeholder="Password")
