
block nav
    nav(class="navbar")
        a(class="home" "href"="/") gallery.
        if(session.loggedin)        
            ul(class="nav-links")    
                li
                    a("href"="/logout" class="navOther") Logout
                li
                    a("href"="/gallery" class="navOther") Gallery
                li
                    a("href"="/search" class="navOther") Search
                li
                    a("href"="/users/" + session.username class="navOther") Profile
        else
            ul(class="nav-links")
                li
                    a("href"="/login" class="navOther") Login
                li
                    a("href"="/register" class="navBtn") Register

            