block nav
        nav#nav
            a(href="/") Home
            ul
                    
                li
                    a(href="/register") Register
                li
                    a(href="/login") Login
                li
                    a(href="/logout") Logout
                li
                    a(href="/gallery") Gallery
                li
                    a(href="/upload") Upload
                li
                    a(href="/profile") Profile