if (session.loggedin)
    block nav
        nav#nav
            a(href="/") Home
            ul
                li
                    a(href="/logout") Logout
                li
                    a(href="/gallerybruh") Gallery
                li
                    a(href="/upload") Upload
                li
                    a(href="/users/" + session.username) Profile
else
    block nav
        nav#nav
            a(href="/") Home
            ul
                li
                    a(href="/login") Login
                li
                    a(href="/register") Register