html
    head
        title Gallery
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
        style
            include ../../public/css/styles.css
        script(src="https://kit.fontawesome.com/2eae6d3d1a.js" crossorigin="anonymous")
    body
        block nav
            include ../partials/nav

        block content
        
        block footer
            include ../partials/footer