html
    head
        title Gallery
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style
            include ../../public/css/styles.css
    body
        block nav
            include ../partials/nav

        block content
        
        block footer
            include ../partials/footer