:root {
	--primary: #00b2ff;
	--adj: #0ce0e8;
	--accent: #23f8a6;
	--mid: #465c65;
	--dark: #223240;
	--light: #fdfeff;
}

::placeholder {
	color: var(--dark);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	color: var(--dark);
}

::-ms-input-placeholder {
	color: var(--dark);
}

* {
	font-family: "Poppins", sans-serif;
	background-color: var(--light);
}

body {
	margin: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBar {
	background-color: var(--light);
}

.navBar * {
	background-color: var(--light);
}

.navbar a {
	padding: 10px 15px;
	color: var(--dark);
	display: inline-block;
	text-decoration: none;
	/* how to bold link */
}

.nav-links {
	margin: 0;
	margin-right: 10px;
	padding: 0;
	list-style: none;
	display: flex;
}

.home {
	font-size: 32px;
	font-weight: 700;
}

.navbar li {
	font-weight: bold;
}

.navBtn {
	background-color: var(--primary);
	border-radius: 4px;
}

.navBtn:hover {
	color: var(--light);
	transition: 0.3s;
}

.navOther:hover {
	color: var(--primary);
	transition: 0.3s;
}

.container {
	height: calc(100vh - 68px);
}

#loginContainer {
	background-image: linear-gradient(
		to left bottom,
		#00b2ff,
		#00c7ff,
		#00dbfd,
		#00eced,
		#37fbd8
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-content * {
	background-color: var(--light);
}

.card-content {
	max-height: 60%;
	min-height: 60%;
	min-width: 30%;
	max-width: 60%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
}

.card-title {
	width: 75%;
}
/* how to align text in div to center */

.card-title h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 2em;
	color: var(--primary);
	background: transparent;
}

.regLogForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
}

.account-info {
	width: 75%;
}

.text-input {
	border: none;
	border-bottom: 1px solid var(--dark);
	color: var(--dark);
	font-size: 18px;
}

.text-input input {
	font-size: 18px;
	color: var(--dark);
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
}

.btn-container {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.btn-container a {
	color: var(--dark);
	text-decoration: none;
}

.errors {
	text-align: center;
	color: red;
	width: fit-content;
	margin-bottom: 10px;
}
.hide {
	display: none;
}

.btn-container a:hover {
	color: var(--primary);
	transition: 0.3s;
}

.accountBtn {
	font-size: 20px;
	font-weight: 600;
	background-color: var(--primary);
	border-radius: 4px;
	border: none;
	margin-left: 10px;
	padding: 5px 15px;
	color: var(--dark);
	box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
	width: 50%;
}

.accountBtn:hover {
	cursor: pointer;
	color: var(--light);
	transition: 0.3s;
}

#Error {
	color: red;
	max-width: 75%;
	text-align: center;
}

#profileMessage {
	margin: 0;
	text-align: center;
}
.profile-container {
	margin: 10px;
}

.profile-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile-content form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 0;
}

.button {
	margin-top: 10px;
	min-width: max-content;
	font-size: 20px;
	font-weight: 600;
	background-color: var(--primary);
	border-radius: 4px;
	border: none;
	color: var(--dark);
	box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
	width: 50%;
}

.button:hover {
	cursor: pointer;
	color: var(--light);
	transition: 0.3s;
}

.following-list li {
	/* remove li styling */
	list-style: none;
}

.gallery {
	height: inherit;
	min-height: 100%;
	background-image: linear-gradient(
		to left bottom,
		#00b2ff,
		#00c7ff,
		#00dbfd,
		#00eced,
		#37fbd8
	);
}

.gallery-container {
	margin-top: 10px;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: transparent;
	width: 100%;
	height: 100%;
	justify-content: center;
	height: max-content;
}

.gallery-item {
	margin: 10px;
	box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
	padding-bottom: 10px;
	max-width: 20vw;
}

.gallery-item-name {
	margin: 10px 0 0 10px;
}

.gallery-image {
	width: 100%;
}

.gallery-image:hover {
	cursor: pointer;
}

.gallery-item-info {
	margin: 0 10px 0 10px;
}

.gallery-item-info a {
	margin: 0;
	display: block;
}

.search-container {
	background-color: transparent;
	padding-top: 10px;
}

.search-container i {
	position: absolute;
	padding: 10px;
	right: 30%;
	background: transparent;
}

.like-comment-container {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.like-comment {
	margin: 0 0 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.like-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.comment-section {
	position: relative;
	left: 0px;
	top: 0px;
}

.comment-input {
	margin: 0 1% 0 1%;
	outline: none;
	width: 85%;
	float: left;
	color: #1f1f9d;
	border: 0;
	border-bottom: 1px solid #1f1f9d;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

.comment-btn {
	margin: 0 1% 0 1%;
	width: 10%;
	cursor: pointer;
}

.comment-btn:hover {
	cursor: pointer;
}

.comment-btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.num-likes-comments {
	font-size: 16px;
	margin: 0 5px 0 5px;
}
.onecomment-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.onecomment-container i {
	margin-right: 5px;
}

.onecomment-container i:hover {
	cursor: pointer;
}
.comment {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	height: max-content;
	justify-content: space-evenly;
}

.comment-list {
	margin-bottom: 10px;
}

.comment-list a {
	margin-left: 5px;
}

.comment-title {
	margin: 0 0 10px 10px;
}

.comment-user {
	font-weight: 600;
	text-decoration: none;
	color: var(--dark);
}

.comment-text {
	margin: 0 0 0 10px;
}

.button-holder a {
	width: 25%;
	margin: 0 10px 0 10px;
}

i {
	font-size: 20px;
}

.fa-heart:hover {
	cursor: pointer;
}

.artist-func {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.artist-func input {
	margin: 10 0 10 0;
	border: 1px solid var(--primary);
	outline: none;
	width: 100%;
}

.add-image {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
}

.workshop-container {
	width: 25%;
}

#createWorkShopBtn {
	width: 100%;
}

.page-gallery {
	background: transparent;
}
.search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.search-input {
	width: 50%;
	border: 1px solid grey;
	outline: none;
	border-radius: 4px;
	height: 40px;
}
.search-icon:hover {
	cursor: pointer;
}

.user-gallery {
	margin-top: 10px;
}

.button-holder {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}

.button-holder .button {
	text-align: center;
}

.create-workshop-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#createWorkshopBtn {
	width: 25%;
}

.workshops-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.workshop-container-ind {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.workshop-button {
	width: 10%;
	font-size: 16px;
}
