extends ../layouts/layout

block content
    if session.loggedin
        if !errorMessage     
            p Welcome to your following!
            ul(class="following-list")
                each user in following
                    li
                        a(href="/users/" + user)= user
        else 
            p #{errorMessage}
    else
        p You must be logged in to view your following!