extends ../layouts/layout.pug



block content
    if(user.accountType === "artist")
        - var change = "become a patron"
        - var changeLink = user.username+"/patron"
    else
        - var change = "become an artist"
        - var changeLink = user.username+"/artist"
    p Welcome to your profile, #{session.username}!

    form(action=changeLink name="_method" method="POST")
        input(type="submit" value=change)