extends ../layouts/layout.pug

block content
    if(user.accountType === "artist")
        - var change = "become a patron"
        - var changeLink = user.username+"/update"+"/patron"
    else
        - var change = "become an artist"
        - var changeLink = user.username+"/update"+"/artist"
    div(id="profile" class="container profile-container")
        p(id="profileMessage") Welcome to your profile, 
            strong #{session.username}
            |!
        div(id="profileContent" class="profile-content")
            p Your account type is 
                strong #{user.accountType}
            form(method="post" action=changeLink+ "?_method=PUT")
                input(type="submit" value=change class="switchBtn button")
            button(href="/following" class="button" id="followingBtn") View your following
            button(href="/reviews" class="button" id="reviewBtn") View your reviews
            button(href="/notifications" class="button" id="notificationBtn") View your notifications
            button(href="/users/" + user.username + "/workshops" class="button" id="viewWorkshopsBtn") View your workshops

            if(user.accountType === "artist")
                div(class="artist-func")
                    div(class="workshop-container")
                        button(class="button" id="workshopBtn") Create a workshop
                    div(class="add-image")
                        input(type="text" id="imgLink" placeholder="Enter an image link")
                        input(type="text" id="imgName" placeholder="Enter an image name")
                        input(type="text" id="imgYear" placeholder="Enter an image year")
                        input(type="text" id="imgCategory" placeholder="Enter an image category")
                        input(type="text" id="imgMedium" placeholder="Enter an image medium")
                        input(type="text" id="imgDescription" placeholder="Enter an image description")
                        button(class="button" id="addImageBtn" onclick="uploadImage()") Add image
            if(user.accountType === "patron")
                p(id="workshopBtn" style="display: none")
            div(class="user-gallery")
                include ../partials/gallery.pug
    script(src="/js/profile-script.js")